.react-calendar-timeline {
  box-shadow: 0px 0px 3px #222;

  .rct-items {
    .rct-item {
      &.current-order {
        background-color: rgba(purple, .85);
        border-color: purple;
      }
      &.nor {
        background-color: rgba(blue, .75);
        border-color: blue;
      }
      &.sur {
        background-color: rgba(green, .8);
        border-color: green;
      }
      &.ori {
        background-color: rgba(yellow, .8);
        border-color: yellow;
      }
      &.oes {
        background-color: rgba(red, .85);
        border-color: red;
      }
    }
  }
}
